In [2]:
:dep dorm = { path = "/Users/romans.malinovskis/Work/grafana/dorm" }
:dep tokio-postgres
:dep serde_json

In [11]:
use tokio_postgres::{Error, NoTls};
use std::sync::Arc;
use dorm::prelude::*;

In [12]:
let (client, connection) = tokio_postgres::connect("host=localhost dbname=postgres", NoTls).await?;
    tokio::spawn(async move {
        if let Err(e) = connection.await {
            eprintln!("connection error: {}", e);
        }
    });

In [ ]:
let postgres = Postgres::new(Arc::new(Box::new(client)));

# Welcome to DORM

At this point you have created a Datasource (postgres) which can then be used for creating expressions, queries, tables and your custom resources. Lets start with a simple expression.

In [13]:
let sum = expr!("{}::integer + {}::integer", 2, 2);

In [14]:
let query = Query::new().add_column("sum".to_string(), sum);

In [ ]:
postgres.query_raw(&query).await